.hero {
  background-color: var(--background-second);
  display: flex;
  overflow: hidden;

  .img {
    // max-width: 35%;

    img {
      object-fit: cover;
      border-radius: 12px;
      box-shadow:
        200px 400px 100px 371px rgba(255, 226, 163, 0.26),
        0px 0px 67px 16px rgba(255, 131, 109, 0.26);
    }
  }

  .info {
    flex: 1;
    z-index: 2;

    .cormorant-garamond-titles {
      font-size: 70px;
      line-height: 1;
      margin-bottom: 15px;
    }
  }

  .synopsis {
    margin-right: 7%;
    --line-clamp: 6;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;

    span > p {
      margin-bottom: 5px;
    }
  }

  .buttonsContainer {
    flex: 1;
    display: flex;
    gap: 15px;
    align-items: flex-end;
    margin-top: 35px;
    flex-wrap: wrap;

    .button {
      padding: 10px 20px !important;
      border-radius: 45px;
    }
  }
}
