.sagaPage {
  gap: 50px;
  flex-direction: column;

  .sagaHeader {
    border-bottom: 1px solid #0000001f;
  }

  .sagaContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .books {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  .otherSaga {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .otherSagasContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .linkContainer {
      display: flex;
      align-items: baseline;
      gap: 5px;
    }
  }
}
