.sagaPage {
  padding: 24px 89px;
  border-bottom: 2px solid #0000001f;
  min-height: 85dvh;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;

  .sagaHeader {
    border-bottom: 1px solid #0000001f;
  }

  .sagaContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .otherSaga {
    .otherSagasContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .linkContainer {
      display: flex;
      align-items: baseline;
      gap: 5px;
    }
  }
}
