.card {
  flex: 1;
  justify-content: space-between;
  gap: 15px;
  min-width: 49%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  min-width: 530px;
  background-color: #eee7dc;

  .imgChili {
    width: 20px;
  }

  .img img {
    cursor: pointer;
    width: 212px;
    height: 100%;
    object-fit: cover;
  }

  .title {
    cursor: pointer;
  }

  .textsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .cardTitleContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .titleCategoryContainer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0 10px;
  }

  .ageContainer {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
  }

  .age {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
  }

  .synopsis {
    margin-right: 7%;
    --line-clamp: 6;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;

    span > p {
      margin-bottom: 5px;
    }
  }

  .synopsis::before {
    content: "";
    float: right;
    height: calc((var(--line-clamp) - 1) * 1lh);
  }

  .readMore {
    clear: both;
    float: right;
    margin-right: 7px;
    text-decoration: underline;
  }

  .buttonsContainer {
    flex: 1;
    display: flex;
    gap: 5px;
    align-items: flex-end;
    margin-top: 10px;

    .button {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: var(--background-button-dark);
      border: 1px solid var(--border-button-dark);
      padding: 5px 10px;
      border-radius: 4px;

      &:hover {
        background-color: var(--background-button-dark-hover);
      }

      &:active {
        background-color: var(--background-button-dark-active);
      }

      .buttonImage {
        border-radius: 4px;
        width: 20px;
      }
    }
  }
}

.smallCard {
  flex-direction: column;
  max-width: 158px;

  .buttonsContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;

    a {
      width: 100%;

      .button {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--background-button-dark);
        border: 1px solid var(--border-button-dark);
        padding: 2px 5px;
        border-radius: 4px;

        &:hover {
          background-color: var(--background-button-dark-hover);
        }

        &:active {
          background-color: var(--background-button-dark-active);
        }

        .buttonImage {
          border-radius: 4px;
          width: 16px;
        }
      }
    }
  }
}
