main.notFoundPage {
  gap: 20px;
  align-items: center;
  padding-top: 8%;

  svg {
    width: 200px;
    height: auto;
  }

  h1 {
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
  }
}
